$breakpoints: (
  'x-small': (min-width: 415px),
  'small': (min-width: 660px),
  'medium': (min-width: 800px),
  'large': (min-width: 1100px),
  'x-large': (min-width: 1470px),
);

$page-margin: 20vmax;

$box-height: 200px;

// colors
$color1: darken(#b9c1b6, 15%);
$color2: darken(#becfc7, 15%);
$color3: darken(#cbd1c7, 15%);
$color4: darken(#c1c1c1, 15%);
$color5: darken(#bdcec4, 15%);
$color6: darken(#d1d7cd, 15%);
$color7: darken(#dbded3, 15%);
$color8: darken(#d1d1c7, 15%);
$color9: darken(#c8c9c1, 15%);
$color0: darken(#cbc4b2, 30%);


// device
$device-text-color: white;
$device-background: url(../img/device-bg.jpg);
$device-backside-background: grey;
$device-padding: 0 50px 30px 50px;
