footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: inherit;
  display: inline-block;
}

#scroll {
    width: 100px;
    display: inline-block;
    float: right;
}

h6 {
  display: inline-block;
  width: 25%;
}
