.box {
  @include box-style;
  @include grid-column(12);
  position: relative;
  h1 {
    color: darken($color5, 10%);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  @include respond-to("small") {
    @include grid-column(6);
  };
  @include respond-to("medium") {
    @include grid-column(4);
  };
  @include respond-to("large") {
    @include grid-column(3);
  };
}
