.device {
  @include clearfix;
  margin-bottom: $page-margin;
  position: relative;
  .device-text {
    text-align: center;
    padding: $device-padding;
    h4 {
      padding-top: 20px;
    }
  }
  img {
    width: 100%;
  }
}

.device-background {
  position: absolute;
  @include size(100%);
  z-index: -1;
  opacity: .8;
  padding: $device-padding;
}
