.fade-in-element {
  &:hover{
    @include hover-style;
  }

  @include clearfix;
  background: white;
  border: 1px solid $color1;
  border-radius: 3px;
  box-shadow: 0 2px 2px transparentize(black, 0.8);
  line-height: 1.3em;
  margin-bottom: $page-margin;
  text-align: center;
  width: 100%;
  padding: 1.5em;
  @include respond-to('large') {
    padding: 5em;
    line-height: 3.7em;
  };
}

.js-fade-element-hide {
  opacity: 0;
}

.js-fade-element-show {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
